/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

*{
margin: 0px;
padding: 0px;
}
/* header-container-start */
.header-container{
display: flex;
justify-content: center;
}
.full-container{
width: 90%;
display: flex;
align-items: center;
justify-content: space-around;
background-color: black;

}
.haf-width{
    width: 40%;
}
.haf-width-text{
    color: white;
}
.haf-width-text h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.haf-width-text p{
    margin-bottom: 20px;
}
.haf-width-img img{
    width: 100%;
}
/* btn  */
.btn a{
    color: white;
    text-decoration: none;
    background-color: red;
    padding:5px 10px;
    border-radius: 5px;
   font-weight: 700;
}
.btn a i{
    margin-left: 5px;
}
/* header-container-end */

/* body-card-start */
.body-container{
    display: flex;
    justify-content: center;
}
.full-width-container{
    margin-top: 40px;
    width: 90%;
    display: flex;
    gap: 20px;
}
/* buttons */
.all-btn{
display: flex;
justify-content: center;
align-items: center;
width: 30%;
height: 200px;
margin-top:3px;
}
.body-btn{
    background-color: black;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}
.body-btn a{
    margin: 10px ;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color:white;
    border-radius: 10px;
    width: 160px;
    padding:  10px;
}
a.active-btn{
    background-color: red;
    color: white;
}
/* card */
.all-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.body-card {
box-shadow: 3px 3px 3px 3px#eee;
border-radius: 10px;
/* gap: 10px; */
}
.body-card h1, .card-btn, .card-icon{
    padding: 10px;
}
.body-card h1{
   font-size: 17px;
   
    
}
.card-img img{
width: 100%;

}
.card-btn a{
    border: 1px solid black;
    padding: 0 20px;
    /* margin: 20px 0px; */
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 25px;
}
.card-icon{
    display: flex;
   gap: 40px;
}
.clck{
    display: flex;
    text-align: center;
    gap: 5px;
}
/* body-card-end */
/* teblet-btn start*/
.teblet-btn{
    display: flex;
    justify-content: center;
    margin: 30px;
    display: none;
}
.teblet-btn a{
text-decoration: none;
background-color: red;
padding: 3px 20px;
border-radius: 4px;
color: white;
font-weight: 700;
font-size: 15px;
}
/* teblet-btn end*/

/* footer start  */
footer{
    margin-top: 150px;
    width: 100%;
    height: 50vh;
    background-color: black;
    color: white;
}
footer h1{
    text-align: center;
    padding-top: 50px;
}
footer hr{
    opacity :0.2;
    margin-top: 40px;
   
}
.footer-content{
    display: flex;
    gap: 45px;
    justify-content: center;
    margin-top:40px ;
}
.footer-content p{
    font-size: 10px;
}
/* footer end */

