@media screen and (min-width:577px) and (max-width:768px){
.full-container{
    width: 734px;
    height: 398px;
    display: flex;
align-items: center;
justify-content: space-around;
}
.haf-width-text h1{
    line-height: 50px;
    color: #FFF;

font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
}
/* .haf-width{
    width: 40%;
    margin: 50px;

} */
.haf-width-text{
   margin-left: 30px;
}
.haf-width-text p{
   width: 316px;
   height: 48px;
overflow: hidden;
}
.haf-width-img img{
    width: 100%;
}
}